{% extends 'base.html' %}

{% load static %}

{% block meta %} 
    <title>Rumah Harapan🏠 | Form Artikel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleForm.css' %}" type="text/css">
{% endblock %}

{% block content %} 
    <div class="d-flex flex-row">
        <div class="container">
            <div class="shadow rounded">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="p-2 rounded-top" id="background">
                        <br><h2>Tambah Artikel</h2><br>
                    </div>
                    <div class="p-5 mb-2 rounded-bottom bg-light" id="background2">
                        <div class="mb-3">
                            {{ formArtikel }}
                        </div>
                        <div>
                            <button type="submit" id="btn">Tambahkan Artikel</button>
                        </div>
                    </div>
                </form>
            </div>    
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}