{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Rumah Harapan🏠 | Artikel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/styleArtikel.css' %}" type="text/css">
{% endblock meta %}

{% block content %} 
<body style="background-color: #ADE8F4">
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id="main">
                    <br>
                    <br>
                    <h1 style="color: #59A5D8;">Artikel</h1>
                    <br>
                    <p id="paragraf">Kami menyediakan media berupa artikel, yaitu karangan faktual yang dapat memberikan informasi-informasi menarik seputar topik-topik mengenai Covid-19 terhadap pembaca pada laman ini.</p>
                    <br>
                        {% if user.is_authenticated %}
                        <a class="btn" href="/artikel/form" style="background-color: #023E8A;" role="button"><p style="color: white;">Tambahkan Artikel</p></a>
                        {% else %}
                        <a class="btn"  style="background-color: #023E8A; color:white;" data-bs-toggle="modal" data-bs-target="#modalWarning" id="tulisan" role="button"><p id="tombol">Tambahkan Artikel</p></a>
                        {% endif %}
                </div>
                <div class="col-sm-6">
                    <img src="{% static 'imageArtikel/image1.png' %}" class="img-fluid" id="img-main" alt="image1">
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <div class="row" id="content"> 
            <div class="col-12">
                <h3 class="mt-5 mb-4" style="color: #59A5D8;">Daftar Artikel</h3>
            </div>
    </div>  

    <div class="container"></div>
        {% for obj in artikel %}
            <div class="card">
                <div class="card-header">
                    {{obj.author}} | {{obj.date_published}}
                </div>
                <div class="card-body">
                <h5 class="card-title">{{obj.title}}</h5>
                <p class="card-text">{{obj.body|slice:"0:100"}}...</p>
                <br>
                <a class="btn" href="detail/{{obj.pk}}" style="background-color: #023E8A;" role="button"><p style="color: white;">Lihat Detail</p></a>
                </div>
            </div>
            <br>
        {% endfor %}
        </div>
    {% include "modal_warning_artikel.html" %}
</body>

{% endblock %}