{% load static %}
<!-- Modal -->
<div
  class="modal fade"
  id="modalWarning"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-center-rh">
        <img src="{% static 'image/warning.svg' %}" width="120px" height="120px" alt="Rumah Harapan🏠" />
        <p class="fw-bold p20px">Silahkan login untuk menambahkan kritik dan saran</p>
      </div>
      <div class="modal-footer">
        <a href="/login">
          <button type="button" class="border-primary-rh bg-primary-rh text-white btn-rh btn-primary-rh">
            <p>Login</p>
          </button>
        </a>
        <button type="button" class="border-secondary-rh btn-rh btn-scnd-rh" data-bs-dismiss="modal">
          <p>Batal</p>
        </button>
      </div>
    </div>
  </div>
</div>
