{% extends 'base.html' %}

{% load static %}

{% block meta %} 
    <title>Rumah Harapan🏠 | Artikel</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/styleArtikel.css' %}" type="text/css">
{% endblock %}

{% block content %}
<body style="background-color: #ADE8F4">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <header class="mb-4">
                        <h1 id="h1font">{{detail.title}}</h1>
                        <br>
                        <p class="text-muted" id="tulisan">{{detail.author}} | {{detail.date_published}}</p>
                    </header>
                    <section class="mb-5">
                        <p id="paragraf">{{detail.body}}</p>
                    </section>
                    <div class="center">
                        <img src="{% static 'imageArtikel/image2.png' %}" class="img-fluid" id="img-main" alt="image2">
                    </div>
                </article>
            </div>
        </div>
    </div>
</body>
{% endblock %}   