{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Rumah Harapan🏠</title>
{% endblock %}

{% block content %} 
  <body>
        <div class="jumbotron jumbotron-fluid" id="head">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="banner-left">
                            <h1 class="display-4 mb-3">Rumah Harapan</h1>
                            <p class="lead">Aplikasi ini berisikan segala informasi mengenai COVID-19, mulai dari angka penyebaran, angka kematian, sembuh, dan kasus aktif, informasi vaksin, dan sebagainya.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="banner-img text-center">
                            <img class="img-banner" src="{% static 'foto/home.png' %}" alt="Rumah Harapan🏠">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
          <div id="benefit">
              <div class="container">
                <h1 class="text-center">Keuntungan Menjadi #TemanHarapan</h1>
                    <div>
                        <div class="container">
                            {% for benefit in benefits %}
                                <div data-aos="fade-down" data-aos-duration ="1000" class="row daftarbenefit1" >
                                    <div class="col-md-3 text-center">
                                        <div class="benefit-img">
                                            <img src="{{benefit.image.url}}" width="200"/>
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="text-benefit-1">{{benefit.caption}}</p>
                                    </div>
                                </div>
                            {% endfor %}                
                            <div class="row daftarbenefit1" >
                            
                            </div>
            
                        </div>
                    </div>
              </div>
          </div>
    
          <div class="jumbotron jumbotron-fluid" id="login-register">
            <div data-aos="fade-down" data-aos-duration ="1000" class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="banner-left">
                            <h1 class="display-4 mb-3 text-center">Gabung Menjadi #TemanHarapan</h1>
                            <div class="row pt-3">
                                <div class="col-1"></div>
                                <div class="col-5">
                                    <div class="register text-center d-grid gap-2">
                                        <a class="btn btn-outline-primary btn-lg" href="register" role="button">Register</a> 
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="login text-center d-grid gap-2">
                                        <a class="btn btn-primary btn-lg" href="login" role="button">Login</a> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="banner-img text-center">
                            <img id="imageLogReg" src="{% static 'foto/friend.png' %}" alt="#TemanHarapan">
                        </div>
                    </div>
                </div>
            </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>
{% endblock %}