{% extends 'base.html' %}
{% load static %}

{% block meta %} 
    <link rel="stylesheet" href="{% static 'css/homeAfterLogin.css' %}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Rumah Harapan🏠</title>
{% endblock %}

{% block content %} 
<div id="head">
    <div class="container">
        <div class="text-center">
            <div class='content'>
                <h2>Halo, {{request.user}}</h2>
                <p class="text-center">Semoga kamu, keluargamu, dan seluruh #TemanHarapan selalu diberkahi kesehatan dikala pandemi ini.</p>
            </div>
        </div>
    </div>
</div>
<div class="bg-data">
    <div class="container rounded" id="data">
        <div class="row shadow mb-5 rounded">
            <div class="col-md-4 text-center">
                <h1>Jumlah Sembuh</h1>
                <p id="sembuh"></p>
            </div>
            <div class="col-md-4 text-center">
                <h1>Jumlah Kematian</h1>
                <p id="mati"></p>
            </div>
            <div class="col-md-4 text-center">
                <h1>Jumlah COVID</h1>
                <p id="confirm"></p>
            </div>
        </div>
    </div>
</div>
<div id="daerah" class="text-center" data-aos="fade-down" data-aos-duration ="1000">
    <div class="container">
        <h2>Top 3 Daerah Penyebaran COVID-19</h2>
        <img class="map" src="{% static 'foto/map.png' %}" alt="">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <table class="table table-hover shadow">
                    <thead>
                        <tr>
                          <th scope="col">No</th>
                          <th scope="col">Provinsi</th>
                          <th scope="col">Jumlah Positif</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td><h5 id = "namaRank1"></h5></td>
                          <td><p id = "jumlahRank1"></p></td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td><h5 id = "namaRank2"></h5></td>
                          <td><p id = "jumlahRank2"></p></td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td><h5 id = "namaRank3"></h5></td>
                          <td><p id = "jumlahRank3"></p></td>
                        </tr>
                      </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="article">
    <div class="container" data-aos="fade-down" data-aos-duration ="1000">
            <div class='content text-center'>
                <h2>Yuk, coba fitur Rumah Harapan🏠</h2>
            </div>
            <div class="row baris">
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="fitur">
                        <div class="card mb-3">
                            <img src="{% static 'foto/donate.jpg' %}" class="card-img-top" alt="..." >
                            <div class="card-body">
                              <h5 class="card-title">Donasi</h5>
                              <p class="card-text">Tempat untuk #TemanHarapan saling membantu satu sama lain</p>
                              <a href="../donasi" class="btn btn-primary">Pelajari lebih lanjut</a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="fitur">
                        <div class="card mb-3">
                            <img src="{% static 'foto/new_article.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Artikel</h5>
                              <p class="card-text">Tempat untuk menelusuri segala informasi yang berhubungan dengan Pandemi COVID</p>
                              <a href="../artikel" class="btn btn-primary">Pelajari lebih lanjut</a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="fitur">
                        <div class="card">
                            <img src="{% static 'foto/new_vacccine.jpg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Vaksin</h5>
                              <p class="card-text">Tempat untuk mencari informasi mengenai vaksin di Indonesia</p>
                              <a href="../vaksin" class="btn btn-primary">Pelajari lebih lanjut</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
            <div class="row baris">
                <div class="col-2"></div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="fitur">
                        <div class="card mb-3">
                            <img src="{% static 'foto/data.jpg' %}" class="card-img-top" alt="..." width="100px">
                            <div class="card-body">
                              <h5 class="card-title">Data Harian</h5>
                              <p class="card-text">Tempat mencari penyebaran data covid di setiap daerah di Indonesia</p>
                              <a href="../updateCovid" class="btn btn-primary">Pelajari lebih lanjut</a>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="col-md-4 d-flex justify-content-center">
                    <div class="fitur">
                        <div class="card">
                            <img src="{% static 'foto/ambulance.jpg' %}" class="card-img-top" alt="..." width="100px">
                            <div class="card-body">
                              <h5 class="card-title">Kontak Penting</h5>
                              <p class="card-text">Tempat untuk mecari kontak-kontak penting, seperti : rumah sakit dan ambulance</p>
                              <a href="../kontak" class="btn btn-primary">Pelajari lebih lanjut</a>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
    </div>
</div>

<script>
    $.ajax({
        type: "GET",
        url: "https://covid19.mathdro.id/api",
        data: {},
        success:function(response){
            var json = response;
            document.getElementById("sembuh").textContent = json['recovered']['value'].toLocaleString()
        }
    })
</script>

<script>
    $.ajax({
        type: "GET",
        url: "https://covid19.mathdro.id/api",
        data: {},
        success:function(response){
            var json = response;
            document.getElementById("mati").textContent = json['deaths']['value'].toLocaleString()
        }
    })
</script>

<script>
    $.ajax({
        type: "GET",
        url: "https://covid19.mathdro.id/api",
        data: {},
        success:function(response){
            var json = response;
            document.getElementById("confirm").textContent = json['confirmed']['value'].toLocaleString()
        }
    })
</script>

<script>
    $.ajax({
        type: "GET",
        url: "https://indonesia-covid-19.mathdro.id/api/provinsi",
        data: {},
        success:function(response){
            var json = response;
            var features = json['data']
            var urutanPertama;
            var angkaUrutanPertama;
            var urutanKedua;
            var angkaUrutanKedua;
            var urutanKetiga;
            var angkaUrutanKetiga;
            for (var x = 0; x < features.length; x++){
                if (x == 0){
                    urutanPertama = features[x]['provinsi'];
                    angkaUrutanPertama = features[x]['kasusPosi'];
                }
                else if(x==1){
                    urutanKedua = features[x]['provinsi'];
                    angkaUrutanKedua = features[x]['kasusPosi'];
                }
                else if(x==2){
                    urutanKetiga = features[x]['provinsi'];
                    angkaUrutanKetiga = features[x]['kasusPosi'];
                }
            }
            document.getElementById("namaRank1").textContent = urutanPertama;
            document.getElementById("jumlahRank1").textContent = angkaUrutanPertama.toLocaleString();
            document.getElementById("namaRank2").textContent = urutanKedua;
            document.getElementById("jumlahRank2").textContent = angkaUrutanKedua.toLocaleString();
            document.getElementById("namaRank3").textContent = urutanKetiga;
            document.getElementById("jumlahRank3").textContent = angkaUrutanKetiga.toLocaleString();
        }
    })
</script>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

{% endblock %}