{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    
    <!-- Remember to include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

    <title>Register</title>
  </head>
  <body>
      <div id="a">
          <div class="base text-center">
            <div class="d-flex justify-content-center">
                <p class="title">Register</p>
            </div>
            <div class="form_container">
                <form method="POST" action="" onsubmit="checkforblack()">
                    {% csrf_token %}
                    <div class=" kotak-input" name="name">
                        {{form.username}}
                    </div>
                    <div class=" kotak-input">
                        {{form.password1}}
                    </div>
                    <div class=" kotak-input">
                        {{form.password2}}
                    </div>

                    {% if form.errors %}
                    {{form.errors}}
                    <script>
                        $(" .errorlist li").css("display","none");
                        let a = $(" .errorlist li").text();
                        alert(a);
                    </script>
                    {% endif %}
                    
                    <div class="register">
                        <input class="btn btn-lg" type="submit" value="Register Account">
                    </div>
                </form>
                <p class="regist">Sudah punya akun? <a href="login">Login</a></p>
            </div>
          </div>
      </div>


	<script>
		var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username..';
		form_fields[2].placeholder='Enter password...';
		form_fields[3].placeholder='Re-enter Password...';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('click')
        })
    </script>

    <script>
        $("#input").click(function(e) {
            e.preventDefault();
        })
    </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
