{% extends 'base.html' %}

{% load static %}

{% block meta %}
    <title>Rumah Harapan🏠 | Kritik dan Saran</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static 'css/styleKritik.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/donasi.css' %}" type="text/css">

     <!-- Latest compiled and minified JavaScript -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
         integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"></script>
{% endblock meta %}

{% block content %}
<body>
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6" id="main" data-aos="fade-right" data-aos-duration="1000">
          <h2 id="h2font">Kritik dan Saran</h2>
          <p id="paragraf">Kami sangat menghargai keinginan Anda untuk membantu kami mengembangkan website yang lebih baik. Anda dapat memberikan kritik dan saran dengan menulis pesan melalui tombol di bawah ini.</p>
            {% if user.is_authenticated %} 
            <a class="btn" href="/kritikSaran/form" id="tulisan" role="button"><p id="tombol">Tambahkan Kritik/Saran</p></a>
            {% else %}
            <a class="btn" data-bs-toggle="modal" data-bs-target="#modalWarning" id="tulisan" role="button"><p id="tombol">Tambahkan Kritik/Saran</p></a>
            {% endif %}
        </div>
        <div class="col-sm-6" data-aos="fade-left" data-aos-duration="1000">
          <img src="{% static 'image/fotoawal.png' %}" class="img-fluid" id="img-main" alt="foto awal">
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row" id="content"> 
        <div class="col-12">
            <h3 class="mt-5 mb-4" id="h3font">Kritik dan Saran dari Pengguna</h3>
        </div>
        {% for obj in KritikSaran %}
          <div class="col-md-6 col-lg-4 allcard">  
            <div class="card-box h-100">
              <div class="card-header" id="header">
                <p id="font-header">{{obj.nama}}</p>
                <p class="card-text"><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i>  {{obj.waktu_post|date:"Y-m-d H:i:s"}}</small></p>
              </div>
              <div class="card-body">
                <i class="fa fa-quote-left" style="font-size:30px; color: #023E8A;" aria-hidden="true"></i>
                <br>
                <p class="card-text">{{obj.kritik_saran}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>  
  
    {% if total_obj == 0 %}
    <div class="alert alert-primary mt-2" role="alert" id="alert">
      Belum ada kritik dan saran...
    </div>
    {% elif total_obj > 0 %}
    <div class="row">
      <div class="btn" id="btn">
        <a class="btn" id="tulisan" role="button"><p id="tombol">Tampilkan Lebih Banyak</p></a>
      </div>
    </div>
    <div class="alert alert-primary mt-2 not-visible" role="alert" id="alert">
      Tidak ada kritik dan saran lagi...
    </div>
    {% endif %}
  </div>

  {% include "modal_warning.html" %}

  {{total_obj|json_script:"json-total"}}
  <script>
    const loadBtn = document.getElementById('btn');
    const total = JSON.parse(document.getElementById('json-total').textContent);
    const alert = document.getElementById('alert');
    
    function loadmorePost(){
        var _current_item = $('.allcard').length
        const content_container = document.getElementById("content");
    
        $.ajax({
        url: '{% url "load" %}',
        type : 'GET',
        data : {
            'total_item' : _current_item
        },
        beforeSend: function(){
            loadBtn.classList.add('not-visible');
        },
        success: function(response){
            const data = response.KritikSaran
    
            data.map(obj => {
            content_container.innerHTML += `<div class="col-md-6 col-lg-4 allcard">  
                                                <div class="card-box h-100">
                                                <div class="card-header" id="header">
                                                    <p id="font-header">${obj.nama}</p>
                                                    <p class="card-text"><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> ${obj.waktu_post}</small></p>
                                                </div>
                                                <div class="card-body">
                                                    <i class="fa fa-quote-left" style="font-size:30px; color: #023E8A;" aria-hidden="true"></i>
                                                    <br>
                                                    <p class="card-text">${obj.kritik_saran}</p>
                                                </div>
                                                </div>
                                            </div>`
            })
            if (_current_item == total) {
              alert.classList.remove('not-visible');
            } else {
              loadBtn.classList.remove('not-visible');
            }
        },
        error: function(err){
            console.log(err);
        },
        });
    }
    loadBtn.addEventListener('click', () => {
        loadmorePost()      
    });
  </script>
    
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body> 
{% endblock content %}
