.hero-donasi-rh {
    background-color: #ade8f4;
    padding: 98px 112px;
    display: flex;
    min-height: 800px;
    align-items: center;
    justify-content: center;
}

.header-donasi {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.left-header {
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.right-header {
    display: flex;
    justify-content: flex-end;
}

.button-header {
    display: flex;
    gap: 56px;
}

.carousel-section {
    padding: 42px 112px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.bg-wrapper {
    background-color: #ade8f4;
}

.padding-form {
    padding: 42px 112px; 
    gap: 36px
}

.swiper {
    width: 100%;
    height: 100%;
}

.mySwiper {
    padding: 20px 4px !important;
}

.swiper-slide {
    font-size: 18px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.swiper-wrapper {
    margin-bottom: 20px;
}

.card-donasi {
    border-radius: 16px;
    width: 400px !important;
    height: 400px !important;
    max-width: 400px;
    max-height: 400px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 12px 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
    transition-duration: 250ms;
    cursor: pointer;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-translate-x: 0.25rem;
    --tw-translate-y: 0.25rem;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.card-donasi:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
}

.card-carousel-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.img-banner-carousel {
    max-height: 160px;
}

.status-donasi {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.bottom-card-right {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
}

.bottom-card-left {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.my-donasi-section {
    background-color: #ade8f4;
    display: flex;
    flex-direction: column;
    min-height: 800px;
    align-items: center;
}

.add-donasi-button {
    color: #59A5DB;
    background: transparent;
    border: none;
}

.add-donasi-button:hover {
    color: white;
}

.add-donasi-section {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.my-donasi-section {
    padding: 24px 112px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.btn-myDonasi {
    display: flex;
    align-items: flex-end;
    height: 100%;
}
.btn-lihat-myDonasi {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.btn-edit-myDonasi {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btn-hapus-myDonasi {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.detail-donasi-wrapper {
    padding: 42px 112px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.back-button-donasi {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #59A5DB;
    gap: 20px;
    width: max-content;
}

.back-button-donasi:hover {
    color: rgba(122, 157, 209, 0.5);
}

.header-detail-donasi {
    color: #59A5DB;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 48px;
}

.deskripsi-detail-donasi {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: #59A5DB;
}

.p-desc-donasi {
    font-size: 20px;
}

.detail-donasi-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    color: #59A5DB;
}

.detail-component-donasi {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 68px;
}

.component-detail {
    min-width: 300px;
    min-height: 160px;
    border-radius: 24px;
    padding: 20px;
    border: 2px solid #59A5DB;
    color: #59A5DB;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.icon-component-donasi {
    display: flex;
    gap: 24px;
    align-items: center;
}

.word-break {
    word-break: break-all;
}

.btn-component-donasi {
    display: flex;
    gap: 44px;
    justify-content: center;
}

.modal-center-rh {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}

#form-add, #form-edit {
    gap: 16px !important;
}

.socmed-share {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.btn-primary-rh, .btn-scnd-rh, .btn-danger-rh {
    transition: all .3s ease;
    text-align: center;
    outline: none;
}

.btn-primary-rh:hover {
    color: black !important;
    background-color: rgba(122, 157, 209, 0.5);
    border: 2px solid rgba(122, 157, 209, 0.5);
}

.btn-scnd-rh:hover {
    color: black !important;
    background-color: rgba(122, 157, 209, 0.5);
    border: 2px solid rgba(122, 157, 209, 0.5);
}

.btn-danger-rh:hover {
    color: white !important;
    background-color: rgb(201, 50, 50);
    border: 2px solid rgb(201, 50, 50);
}

@media only screen and (max-width: 1200px) {
    .hero-donasi-rh {
        flex-direction: column-reverse;
    }

    .img-banner {
        max-width: 300px;
    }

    .p20px {
        font-size: 16px ;
    }

    .button-header {
        flex-direction: column;
    }

    #openWarning {
        width: 100%;
    }

    .left-header {
        gap: 32px;
    }

    .hero-donasi-rh {
        padding: 48px;
    }

    #donasiSekarangBtn {
        width: 100%;
    }

    .button-header {
        gap: 24px;
    }

    .carousel-section {
        padding: 48px;
    }

    .text-secondary-rh h1 {
        font-size: 36px;
    }

    .card-donasi {
        border-radius: 16px;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        padding: 12px 12px;
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 8px;
        text-decoration: none;
    }

    #lihatDonasiBtn {
        width: 100%;
    }

    .my-donasi-section {
        padding: 48px;
        gap: 32px;
    }
    
    .btn-myDonasi {
        flex-direction: column;
        gap: 8px;
    }

    .btn-lihat-myDonasi, .btn-edit-myDonasi, .btn-hapus-myDonasi, #openDelete, #openEdit, #openLihat, .aBtn, .btn-lihat {
        width: 100%;
    }

    .carousel-section, .detail-donasi-wrapper {
        padding: 48px;
        gap: 32px;
    }

    #form-add, #form-edit {
        padding: 0px !important;
        gap: 16px !important;
    }
    
    .btn-component-donasi {
        display: flex;
        gap: 24px;
        flex-direction: column;
        justify-content: center;
    }

    .component-detail {
        min-width: 100%;
        min-height: 160px;
        gap: 16px;
    }
}

@media only screen and (max-width: 1024px) {
    .card-donasi {
        width: 300px !important;
    }

    .padding-form {
        padding: 24px 48px; 
        gap: 24px
    }

    .back-button-donasi {
        gap: 8px;
    }

    .detail-component-donasi {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 48px;
    }

    .bottom-card-right, .bottom-card-left {
        font-size: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .card-donasi {
        width: 260px !important;
    }

    
    .bottom-card-right, .bottom-card-left {
        font-size: 12px;
    }
}