#head {
    background-color: #ade8f4;
    padding-bottom: 150px;
    height: auto;
    width: auto;
}

#head .content {
    color: #59A5DB;
    padding-top: 184px;
}

#head .content h2 {
    font-weight: bold;
    font-size: 64pt;
}

#head .content p {
    padding-top: 32px;
    text-align: justify;
}


#data {
    background-color: white;
}

#data h1 {
    padding-top: 42px;
    font-size: 24pt;
    color: #59A5DB;
    padding-bottom: 24px;
}

#data p {
    font-size: 20pt;
    padding-bottom: 42px;
}

#daerah {
    padding-bottom: 136px;
}

#daerah h2{
    padding-top: 100px;
    color: #59A5DB;
    font-weight: bold;
}


.bg-data {
    background-color: #ade8f4;
    height: 100px;
    margin-bottom: 100px;
    position: static;
}

#daerah .map {
    width: 1320px;
    padding-top: 20px;
    padding-bottom: 20px;
}

table th,td{
    color: #59A5DB;
    padding-bottom: 40px;
}

#article {
    background-color: #ade8f4;
    padding-bottom: 300px;
    height: auto;
    width: auto;
}

#article .content {
    color: #59A5DB;
    padding-top: 184px;
    margin-bottom: 40px;
}

#article .content h2 {
    font-weight: bold;
    font-size: 40pt;
}

.Article {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.Article h3 {
    color:#59A5DB;
    padding-bottom: 8px;
    font-weight: bold;
}

.Article p {
    padding-bottom: 8px;
    text-align: justify;
}


.baris {
    margin-bottom: 20px;
}

.fitur h5{
    color: #59A5DB;
}

.fitur p {
    text-align: justify;
    padding-bottom: 10px;
}



@media only screen and (max-width: 768px) {
    #head .content h2 {
        font-weight: bold;
        font-size: 44pt;
    }
    
    #head .content p {
        font-size: 12pt;
        padding-top: 32px;
        text-align: justify;
    }

    #data {
        background-color: white;
        margin-right: 20px;
        margin-left: 20px;
    }

    .bg-data {
        background-color: #ade8f4;
        height: 250px;
        margin-bottom: 240px;
        position: static;
    }

    #data h1 {
        padding-top: 42px;
        font-size: 24pt;
        color: #59A5DB;
        padding-bottom: 24px;
    }
    
    #data p {
        font-size: 16pt;
        padding-bottom: 42px;
    }

    #data {
        width: 335px;
    }

    #daerah h2{
        font-size: 20pt;
        padding-top: 100px;
        color: #59A5DB;
        font-weight: bold;
    }

    #daerah .map {
        width: 320px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    table h5{
        font-size: 16px;
    }

    #article .content h2 {
        font-weight: bold;
        font-size: 32pt;
    }

    .Article {
        background-color: white;
        padding: 20px;
        margin-bottom: 20px;
        margin-right: 20px;
        margin-left: 20px;
    }

}



