#header-kontak {
    background-color: #ade8f4;
    padding: 98px 112px;
    display: flex;
    flex-direction: column;
    min-height: 800px;
}

#header-kontak .header{
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
}

#header-kontak .footer{
    justify-content: center;
    text-align: center;
}

#header-kontak .card-group{
    max-height: 300px important;
}

.card-group .card-primary:hover {
    box-shadow: 0 40px 60px -20px rgba(12, 5, 62, 0.15);
    z-index: 100;
}

.test{
    z-index: 1 !important;
}

.card-group .card-primary:hover .card-title{
    color: #4e22d0;
}

.card-img-top{
    max-width: 40% !important;
    max-height: 40% !important;
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

#header-kontak .card{
    border: 0;
}

.card-body-kontak{
    padding: 2rem 2rem;
}

.badge-primary{
    background: #0d6efd!important;;
    color: white !important;
}

.badge-danger{
    background: #dc3545!important;;
    color: white !important;
}

.badge-info{
    background: #17A288!important;;
    color: white !important;
}

.badge-secondary{
    background: #6C757D!important;;
    color: white !important;
}

.badge-warning{
    background: #FFC107!important;;
    color: 212529 !important;
}

.badge-success{
    background: #0d6efd!important;;
    color: white !important;
}

.b-dark{
    background: #343140!important;;
    color: white !important;
}

#header-card{
    text-transform: uppercase;
    font-size: large;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-title{
    margin-top: 20px !important;
}

span .card-body{
    margin-top: 50px;
}

#btn-header{
    padding-bottom: 40px;
    padding-top: 30px;
}

.btn-outline-secondary{
    border-color: #023E8A !important;
    color: #023E8A !important;
}

.btn-outline-secondary:hover {
    background: #023E8A !important;
    color: white !important;
}

.card-footer{
    padding: 48px 0 56px !important;
    background: transparent !important;
    border:0 !important;
}

.container {
    margin-bottom: 50px;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30px;
    color: black;
}

tr:nth-child(even) {
    background-color: rgba(173, 232, 244, .2);
    
}

table {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
}

table tr th,
table tr td {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding: 5px;
}
  
table tr th:first-child,
table tr td:first-child {
    border-left: 1px solid #bbb;
}

table tr th {
    background: #eee;
    border-top: 1px solid #bbb;
    text-align: center;
}
  
table tr:first-child th:first-child {
    border-top-left-radius: 4px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 4px;
}
  
table tr:last-child td:first-child {
    border-bottom-left-radius: 4px;
}
  
table tr:last-child td:last-child {
    border-bottom-right-radius: 4px;
}

p {
    margin: 7px 0 7px 0;
}

.col-sm-8, .col-md-7, .col-lg-9{
    justify-content: center;
    margin-top: 20px;
}

.col-sm-4, .col-md-5, .col-lg-3{
    justify-content: center;
}

#nav-tambah-kontak{
    margin-top: 50px;
    background-color: rgb(173, 232, 244);
}

.bold{
    font-weight: bold;
}

@media only screen and (width: 1025px) {
    .badge-sm{
        max-width: 210px;
    }

    #header-card{
        font-size: small;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .img-call{
        max-width: 100%;
        max-height: 90%;
    }

}

@media only screen and (width: 769px) {
    .badge-sm{
        max-width: 260px;
    }

    #header-card{
        font-size: medium;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .card-group{
        display: contents;
        flex-direction: none;
    }

    #vertical-card{
        display: flex;
        flex-direction: column;
        width: 32rem !important;
    }

    .card-img-top{
        max-width: 40% !important;
        max-height: 40% !important;
        margin: 0 70px 20px 70px;
    }

}

@media only screen and (max-width: 426px) {
    .badge-sm{
        max-width: 210px;
    }

    #header-card{
        font-size: small;
        margin-top: 50px;
        margin-bottom: 25px;
        margin-left: 1px;
        margin-right: 1px;
    }

    #header-kontak {
        background-color: #ade8f4;
        padding: 98px 80px;
        display: flex;
        flex-direction: column;
        min-height: 800px;
    }
}