body {
    background-color: #59a5db;
}

.base {
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 2%;
}

#a {
    padding-top: 100px;
    padding-left: 420px;
    padding-right: 420px;
}

.title {
    color: #59A5DB;
    font-size: 60px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.kotak-input {
    margin-left: 44px;
    margin-right: 44px;
    margin-bottom: 28px;
}

.btn {
    background-color: #023e8a;
    color: white;
    width: 320px;
    margin-bottom: 28px;
}

#a .regist {
    padding-bottom: 80px;
}

#btn-modal {
    visibility: hidden;
}

.alert {
    margin-left: 44px;
    margin-right: 44px;
}

@media only screen and (max-width: 1200px) {
    body {
        background-color: #59a5db;
    }
    
    .base {
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 2%;
    }
    
    #a {
        padding-top: 100px;
        padding-left: 200px;
        padding-right: 200px;
    }
    
    .title {
        color: #59A5DB;
        font-size: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .kotak-input {
        margin-left: 44px;
        margin-right: 44px;
        margin-bottom: 28px;
    }
    
    .btn {
        background-color: #023e8a;
        color: white;
        width: 300px;
        margin-bottom: 28px;
    }
    
    #a .regist {
        padding-bottom: 80px;
    }
}

@media only screen and (max-width: 768px) {
    body {
        background-color: #59a5db;
    }
    
    .base {
        width: auto;
        height: auto;
        background-color: white;
        border-radius: 2%;
    }
    
    #a {
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .title {
        color: #59A5DB;
        font-size: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .kotak-input {
        margin-left: 44px;
        margin-right: 44px;
        margin-bottom: 28px;
    }
    
    .btn {
        background-color: #023e8a;
        color: white;
        width: 240px;
        margin-bottom: 28px;
    }
    
    #a .regist {
        padding-bottom: 80px;
    }
}

