/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'poppins';
  src: url("../fonts/Poppins/Poppins-Regular.ttf");
}

p {
  font-family: poppins;
}

h1, h2, h3 {
  font-family: 'Playfair Display';
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

.text-primary-rh {
  color: #023E8A;
}

.text-secondary-rh {
  color: #59A5D8;
}

.text-blizzard {
  color: #ADE8F4;
}

.border-primary-rh {
  border: 2px solid #023E8A;
}

.border-secondary-rh {
  border: 2px solid #59A5D8;
}

.border-blizzard {
  border: 2px solid #ADE8F4;
}

.border-error-rh {
  border: 2px solid #EB5757;
}

.border-warning-rh {
  border: 2px solid #F2C94C;
}

.bg-primary-rh {
  background-color: #023E8A;
}

.bg-secondary-rh {
  background-color: #59A5D8;
}

.bg-blizzard {
  background-color: #ADE8F4;
}

.bg-success-rh {
  background-color: #27AE60;;
}

.bg-warning-rh {
  background-color: #F2C94C;
}

.bg-error-rh {
  background-color: #EB5757;
}

.bg-disabled-rh {
  background-color: #ABABAB;
}

.navBar {
  padding: 16px 24px;
  display: flex;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 99;
}

.navSection {
  display: flex;
  gap: 28px;
  align-items: center;
  width: 100%;
  justify-content: flex-end;
}

.navbarMobile {
  display: none;
}

.transparentButton {
  border: none;
  background: none;
}

.p20px {
  font-size: 20px;
}

h1, h2, h3, p {
  margin: 0 !important;
}

.btn-rh {
  padding: 8px 20px;
  border-radius: 8px;
}

.footer-rh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 16px;
  z-index: 10;
}

body {
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.navMobileWrapper {
  display: flex;
  flex-direction: column;
  gap:16px;
}

.navMobileWrapper p {
  font-size: 16px;
}

.header-font {
  width: 50%;
}

.wrapperNav {
  margin: 72px 0px 0px 0px;
}

.mobileSmall {
  display: none;
}

@media only screen and (max-width: 1280px) {
  .navLinkWrapper {
    position: absolute;
    transition: all 0.5s ease-in-out;
    width: 100vw;
    height: auto;
    background: #59A5D8;
    padding: 1.8rem 1.5rem;
    top: 3.8rem;
    z-index: 100;
    left: 0;
    display: flex;
    opacity: 0;
    left: 100vw;
  }
}

@media only screen and (min-width: 1024px) {
  .navbarMobile {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  .navSection {
    display: none;
    gap: 28px;
    align-items: center;
    width: 100%;
    justify-content: flex-end;
  }

  .navbarMobile {
    display: flex;
    width: 50%;
    justify-content: flex-end;
  }

  .header-font {
    font-size: 24px;
    width: 100%;
  }

  
  .wrapperNav {
    margin: 48px 0px 0px 0px;
  }
}


@media only screen and (max-width: 375px) {
  .mobileSmall {
    display: flex;
    flex-direction: column;
  }

  .p20px {
    font-size: 16px;
  }
  
  .mobileNotSmall {
    display: none;
  }
}
