@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


#head {
    background-color: #ade8f4;
    padding-bottom: 200px;
    height: auto;
    width: auto;
}

.img-banner {
    width: 444px;
    height: 482px;
}

#login-register {
    background-color: #ade8f4;
    padding-top: 50px;
    padding-bottom: 300px;
    height: auto;
    width: auto;
}

#login-register .btn-primary {
    background-color: #023e8a;
    color: #59A5DB;
}

#login-register .btn-outline-primary {
    border-width: 2px;
    border-color: #023e8a;
    color: #59A5DB;
}


.banner-left {
    padding-top: 200px;
    color: #59A5DB;
    text-align: justify;
}

.banner-left h1 {
    font-weight: bold;
    font-size: 64pt;
}

.banner-img {
    padding-top: 66px;
}

#benefit{
    padding-top: 80px;
}

#benefit h1{
    color: #59a5db;
    font-size: 40pt;
    font-weight: bold;
}

.daftarbenefit1{
    padding-top: 80px;
    color: #59a5db;
}

.daftarbenefit2{
    padding-top: 80px;
    color: #59a5db;
    text-align: end;
}

.text-benefit-1{
    padding-top: 76px;
}

@media only screen and (max-width: 768px) {
    .img-banner {
        width: 360px;
        height: 400px;
        text-align: center;
    }

    .banner-left {
        padding-top: 160px;
        color: #59A5DB;
    }
    
    .banner-left h1 {
        font-weight: bold;
        font-size: 40pt;
        text-align: center;
    }

    .benefit.img{
        display: inline;
        size: 300px;
    }
  }