.container-uc {
    padding: 32px 48px 32px 48px;
    margin: auto;
    width: 100%;
}

.container-uc-comment {
    margin: auto;
    margin-top: 16px;
    width: 90%;
    word-wrap: break-word;
}

.container-card-uc {
    padding: 32px 48px 32px 48px;
    margin: auto;
    height: 450px; 
    display:flex; 
    width: 100%;
}

.card-uc {
    width: 360px; 
    height: 300px; 
    position: static; 
    margin: auto;
}

.card-head-uc {
    height: 80px;
}

.card-body-uc {
    font-family: poppins; 
    font-size: 48px; 
    margin: 48px; 
    font-weight: bold; 
    text-align: center; 
    padding-top: 32px;
}

@media only screen and (max-width: 1025px) {
    .card {
        width: 300px;
        height: 240px;
    }

    .card-body-uc {
        font-size: 28px;
        margin: 32px;
    }
}

@media only screen and (max-width: 769px) {
    h3 {
        font-size: 18px;
    }

    .card {
        width: 180px;
        height: 200px;
    }

    .card-head-uc {
        height: 60px;
    }

    .card-body-uc {
        font-size: 20px;
        margin: 24px;
    }
}

@media only screen and (max-width: 426px) {
    h1 {
        font-size: 36px;
    }
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }
    p {
        font-size: 12px;
    }

    .container-card-uc {
        height: 450px; 
        display:block; 
    }

    .card {
        width: 90%;
        height: 100px;
        margin-bottom: 32px;
    }

    .card-head-uc {
        height: 50px;
    }

    .card-body-uc {
        margin: 0px;
        padding-top: 12px;
    }
}