.flex-gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 30px 0px;
}

.landing-vaksin {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 150px 80px 145px 80px;
}

.landing-right, .landing-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing-right {
    width: 50%;
}

.landing-left {
    width: 45%;
}

.data-vaksinasi {
    background-color: white;
    width: 100%;
    padding: 80px;
}

.card {
    display: wrap;
    flex-direction: column;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 0px #c5c5c5;
}

.head-container {
    padding: 5px;
    border-radius: 6px 6px 0px 0px;
}

.body-container {
    padding: 10px;
}

.forum-informasi .card {
    transition: 0.5s ease;
}

.forum-informasi .card:hover {
    transform: scale(1.03);
}

.add-forum, .detail-forum {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 80px 30px;
    font-family: poppins;
}

.add-forum .card, .detail-forum .card {
    width: 65%;
}

.add-forum .body-container {
    padding: 30px 63px;
}

#forumbtn:hover {
    transform: scale(0.99);
    box-shadow: rgba(2, 62, 138, 0.12) 0px 2px 4px 0px, rgba(2, 62, 138, 0.32) 0px 2px 16px 0px;
}

#forumbtn-danger:hover {
    transform: scale(0.99);
    box-shadow: rgba(201, 50, 50, 0.12) 0px 2px 4px 0px, rgba(201, 50, 50, 0.32) 0px 2px 16px 0px;
}

#judul-form {
    margin: 10px auto 15px auto;
}

@media all and (min-width: 1200px) {
    .one-card {
        width: 100%;
    }
    
    .two-card {
        width: 48%;
    }
    
    .three-card {
        width: 31%;
    }
}

@media all and (max-width: 1200px) {
    .landing-left {
        width: 40%;
    }

    .landing-right {
        width: 55%;
    }

    .one-card {
        width: 100%;
    }
    
    .two-card {
        width: 48%;
    }
    
    .three-card {
        width: 31%;
    }

    .add-forum .card, .detail-forum .card  {
        width: 90%;
    }
}

@media all and (max-width: 950px) {
    .landing-vaksin {
        padding: 105px 80px 100px 80px;
        flex-wrap: wrap-reverse;
        gap: 30px;
    }
    
    .landing-left, .landing-right {
        width: 100%;
    }

    .one-card {
        width: 100%;
    }
    
    .two-card, .three-card {
        width: 48%;
    }

    .petugas {
        width: 100%;
    }

    .add-forum .card, .detail-forum .card  {
        width: 100%;
    }
    
    .forum-informasi button p, .add-forum {
        font-size: 16px;
    }

}

@media all and (max-width: 768px) {
    .one-card, .two-card, .three-card {
        width: 100%;
    }

    .data-vaksinasi .flex-gap p {
        font-size: 24px;
    }

    .data-vaksinasi p {
        font-size: 18px;
    }
}

@media all and (max-width: 600px) {
    .data-vaksinasi .flex-gap p {
        font-size: 22px;
    }

    .data-vaksinasi p {
        font-size: 16px;
    }
}
