{% extends 'base.html' %}
{% load static %} 

{% block meta %}
  <title>Rumah Harapan🏠 | Kontak Penting</title>
  <link rel="stylesheet" href="{% static 'css/kontak.css' %}">
  <script src="{% static 'js/kontak.js' %}"></script>
{% endblock %}

{% block content %}
  {% include "kontak_header.html" %}
  {% if user.is_authenticated %}
  <div class="container" id="TabelKontakPenting">
    <div class="card card-body card-body-kontak" id="nav-tambah-kontak">  
      <div class="row">
        <div class="col-sm-8 col-md-7 col-lg-9">
          <div class="text-secondary-rh">
            <h3>Kontak Penting</h3>
          </div>
          <div class="text-justify">
            <p style="text-align: justify">
              Selama pandemi para <span style="color: #59A5DB;">#TemanHarapan</span> seringkali 
              membutuhkan informasi kontak darurat. Mari ikut serta menambahkan kontak 
              <span class="bold">Hotline COVID-19, Rumah Sakit, dan kontak penting lainnya </span>
              dari daerah sekitarmu untuk memudahkan <span style="color: #59A5DB;">#TemanHarapan</span> 
              mencari kontak darurat.
            </p>
          </div>
          <div>
            <p>
              <button type="button" class="btn btn-primary js-create-contact">
              <span class="glyphicon glyphicon-plus"></span>
              Tambah Kontak
              </button>
            </p>
          </div>
        </div>

        <div class="col-sm-4 col-md-5 col-lg-3">
            <img class="img-call"
              src="{% static 'foto/callsupport.png' %}"
              width="260"
              height="200"
            />
        </div>
      </div>
    </div>

  <br>
  <div class="row">
    <div class="col">
      <div class="card card-body">
          <form method="get" class="row row-cols-lg-auto g-3 align-items-center">

          <div class="col-2.1">
            <label class="visually-hidden" for="inlineFormSelectPref">Kategori</label>
            <p>Kategori: {{myFilter.form.kategori}}</p>
          </div>
        
          <div class="col-2.1">
            <label class="visually-hidden" for="inlineFormSelectPref">Region</label>
            <p>Region: {{myFilter.form.region}}</p>
          </div>

          <div class="col-2.1">
            <label class="visually-hidden" for="inlineFormSelectPref">Provinsi</label>
            <p>Provinsi: {{myFilter.form.provinsi}}</p>
          </div>

          <div class="col-2.1">
            <label class="visually-hidden" for="inlineFormSelectPref">Kota</label>
            <p>Kota: {{myFilter.form.kota}}</p>
          </div>
        
          <div class="col-0.8">
            <button type="submit" class="btn btn-primary btn-sm">
              <p>Temukan kontak</p></button>
          </div>
        </form>

      </div>
    </div>
    
  </div>
  </br>
  
  <table class="table" id="contact-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Kategori</th>
        <th>Lokasi</th>
        <th>Kontak</th>
        <th>Keterangan</th>
      </tr>
    </thead>
  <tbody>
    {% include 'kontak_list.html' %}
  </tbody>
  </table>

      <div class="modal fade" id="modal-contact">
        <div class="modal-dialog">
          <div class="modal-content">    
          </div>
        </div>
      </div>
  </div>
</div>

{% endif %}
{% endblock %}

