{% load static %}

<div id="header-kontak">
    <div class="header">
        <div class="text-secondary-rh">
            <h2>Kontak Penting</h2>
        </div>
    </div>

    <div class="container" id="c">
        <div class="card-group">
            <div class="card card-primary text-center test" id="vertical-card">
                <div class="card-body">
                    <span class="badge badge-primary badge-sm" id="header-card">
                        <p>Sistem Informasi Rawat Inap</p>
                    </span>
                    <img class=card-img-top src="{% static 'foto/hospital.png' %}">
                    <h5 class="card-title">Siranap</h5>
                    <p class="card-text">Siranap adalah sistem informasi rumah sakit yang dibuat 
                    oleh Kemenkes. Anda dapat melihat ketersediaan tempat tidur di rumah
                    sakit terdekat melalui Siranap.</p>
                </div>
                <div id="btn-header"><a href="https://yankes.kemkes.go.id/app/siranap/" class="btn btn-outline-secondary btn-sm">Kunjungi</a></div>    
            </div>

            <div class="card card-primary text-center test" id="vertical-card">
                <div class="card-body">
                    <span class="badge badge-primary badge-sm" id="header-card">
                        <p>Pusat Informasi COVID-19</p>
                    </span>
                    <img class=card-img-top src="{% static 'foto/informasi.png' %}">
                    <h5 class="card-title">Covid-19.go.id</h5>
                    <p class="card-text">Anda dapat menemukan seluruh informasi penting mengenai COVID-19 melalui website ini.</p>
                </div>
                <div id="btn-header"><a href="https://covid19.go.id/" class="btn btn-outline-secondary btn-sm">Kunjungi</a></div>
            </div>

            <div class="card card-primary text-center test" id="vertical-card">
                <div class="card-body">
                    <span class="badge badge-primary badge-sm" id="header-card">
                        <p>Hotline COVID-19</p>
                    </span>
                    <img class=card-img-top src="{% static 'foto/call-logo.png' %}">
                    <h5 class="card-title">119</h5>
                    <p class="card-text">Hubungi 119 untuk mendapatkan bantuan penanganan COVID-19 serta 119 ext 9 untuk Hotline Vaksinasi COVID-19</p>
                </div>
                <div id="btn-header"><a href="https://www.kemkes.go.id/" class="btn btn-outline-secondary btn-sm">Kunjungi</a></div>
            </div>
        </div>
    </div>

    <div class="footer">
        <p style="text-align: center">
              <span style="color: #59A5DB;">#TemanHarapan</span> ingin membantu Anda untuk
              mendapatkan lebih banyak kontak penting. <span class="bold"> Silahkan login </span>
              dan temukan kontak penting dari daerah sekitar Anda. 
              Jangan lupa juga bantu <span style="color: #59A5DB;">#TemanHarapan</span> untuk menyebarkan
              lebih banyak manfaat melalui tabel kontak penting.
        </p>
        {% if user.is_authenticated %}
            <a href="#TabelKontakPenting" class="btn btn-primary btn-md">Tabel Kontak Penting</a>
        {% else %}
            <a href="#" class="btn btn-primary btn-md">Tabel Kontak Penting</a>
            <a href="/login" class="btn btn-secondary btn-md">Login</a>
        {% endif %}
    </div>
</div> 

