{% load widget_tweaks %}

<form method="post" action="{% url 'add_contact' %}" class="js-contact-create-form">
  {% csrf_token %}
  <div class="modal-header">
    <h4 class="modal-title">Tambahkan kontak baru</h4>
    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      {% for field in form %}
      <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {% render_field field class="form-control" %}
          {% for error in field.errors %}
            <p class="help-block">{{ error }}</p>
          {% endfor %}
      </div>
    {% endfor %}
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Tutup</button>
    <button type="submit" class="btn btn-primary">Buat kontak</button>
  </div>
</form>
