{% for contact in contact_list %}
  <tr>
    <td>{{ contact.id }}</td>
    <td>{% if contact.kategori|slugify == 'hotline-covid-19'%}
      <span class="badge badge-info">{{ contact.kategori}}</span>
    {% elif contact.kategori|slugify == 'rumah-sakit'%}
      <span class="badge badge-secondary">{{ contact.kategori}}</span>
      {% elif contact.kategori|slugify == 'ambulans'%}
      <span class="badge badge-warning">{{ contact.kategori}}</span>
    {% elif contact.kategori|slugify == 'bank-darah'%}
      <span class="badge badge-danger">{{ contact.kategori}}</span>
    {% elif contact.kategori|slugify == 'suplier-alkes'%}
      <span class="badge badge-success">{{ contact.kategori}}</span>
    {% elif contact.kategori|slugify == 'lainnya'%}
      <span class="badge badge-success">{{ contact.kategori}}</span>
    {% endif %}</td>
    <td>
      <p> Region: <span>{{ contact.region }}</span></p>
      <p> Provinsi: <span>{{ contact.provinsi }}</span></p>
      <p> Kota: <span>{{ contact.kota }}</span></p>
    </td>
    <td>
      <p>Nama: <span>{{ contact.namakontak }}</span></p>
      <p>Nomor: <span>{{ contact.nomorkontak }}</span></p>
      <p>Alamat: <span>{{ contact.alamatkontak }}</span></p>
      </td>
      <td>{{ contact.keterangan }}</td>
      </tr>        
    {% endfor %}

<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contact_list.has_previous %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}?page={{contact_list.previous_page_number}}#TabelKontakPenting" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    {% endif %}
    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{1}}#TabelKontakPenting">1</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{2}}#TabelKontakPenting">2</a></li>
    <li class="page-item"><a class="page-link" href="{% url 'index' %}?page={{3}}#TabelKontakPenting">3</a></li>
    
    {% if contact_list.has_next %}
    <li class="page-item">
      <a class="page-link" href="{% url 'index' %}?page={{contact_list.next_page_number}}#TabelKontakPenting" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>