{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Rumah Harapan🏠 | Tambah Informasi</title>
<link rel="stylesheet" href="{% static 'css/vaksin.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="add-forum bg-blizzard">
    <div class="card">
        <div class="head-container bg-secondary-rh text-white fw-bold"  style="padding: 20px 0px 0px 20px;">
            <a href="/vaksin/#foruminformasi" style="text-decoration: none; color: white">
                <medium><i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></medium>
            </a>
            <h2 class="text-center" style="padding: 0px 50px 40px 30px;">Tambah Informasi</h2>
        </div>
        <div class="body-container text-center">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                {{ form.media }}
                <div style="margin: 15px auto;">
                    <input type="submit" value="Tambah ke Forum" id="forumbtn"
                            class="btn-rh btn-primary-rh border-primary-rh bg-primary-rh text-white"/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
