{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Rumah Harapan🏠 | Forum Informasi</title>
<link rel="stylesheet" href="{% static 'css/vaksin.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<div class="detail-forum bg-blizzard">
    <div class="card">
        <div class="head-container bg-secondary-rh text-white" style="padding: 20px 0px 0px 20px;">
            <a href="/vaksin/#foruminformasi" style="text-decoration: none; color: white">
                <i class="fa fa-arrow-left fa-lg" aria-hidden="true"></i>
            </a>
            <div class="text-center" style="padding: 0px 50px 30px 30px;">
                <h2 class="fw-bold" style="padding-bottom: 10px;">{{ konten.judul }}</h2>
                {% if user.is_authenticated %}
                <p><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>&nbsp;{{ konten.penulis }}</p>
                <p><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;{{ konten.tanggal_publikasi }}</p>
                {% endif %}
            </div>
        </div>
        <div class="body-container" style="padding: 20px;">
            <p>{{ konten.konten|safe }}</p>
        </div>
        {% if request.user == konten.penulis %}
        <div style="padding: 0px 20px 20px 20px; display: flex; justify-content: center; gap: 10px">
            <a href="/vaksin/edit-forum/{{ konten.id }}">
                <button class="btn-rh btn-primary-rh border-primary-rh bg-primary-rh" id="forumbtn">
                    <p class="text-white">Edit</p>
                </button>
            </a>
            <button class="btn-rh btn-danger-rh border-error-rh bg-error-rh"
                    data-bs-toggle="modal" data-bs-target="#modaldeleteforum" id="forumbtn-danger">
                <p class="text-white">Hapus</p>
            </button>
            <!-- Modal -->
            <div class="modal fade" id="modaldeleteforum" tabindex="-1" aria-labelledby="modaldeleteforumlabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body text-center">
                            <img src="{% static 'foto/icons/danger.svg' %}" width="120px" height="120px" alt="Rumah Harapan🏠"/>
                            <p>Apakah Anda yakin ingin menghapus ini?</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn-rh border-secondary-rh bg-white text-secondary-rh" data-bs-dismiss="modal" id="forumbtn">Batal</button>
                            <a href="/vaksin/delete-forum/{{ konten.id }}">
                                <button type="button" class="btn-rh btn-danger-rh border-error-rh bg-error-rh text-white" id="forumbtn-danger">Hapus</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
