{% load static %}

<div class="forum-informasi bg-blizzard w-100" style="padding: 80px;" id="foruminformasi">
    <h2 class="text-secondary-rh text-center fw-bold" data-aos="fade-up" data-aos-duration ="1000">Forum Informasi</h2>
    <div class="flex-gap">
        {% for k in konten %} 
        <div class="card two-card" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh text-white" style="padding: 10px 20px;">
                <p class="fw-bold p20px">{{ k.judul }}</p>
                {% if user.is_authenticated %}
                <p><small><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>&nbsp;{{ k.penulis }}</small></p>
                <p><small><i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp;{{ k.tanggal_publikasi }}</small></p>
                {% endif %}
            </div>
            <div class="body-container" style="padding: 10px 20px;">
                <p>{{ k.konten|safe|truncatechars:"250" }}</p>
            </div>
            <div class="w-100" style="padding: 0px 20px 20px 20px;">
                <a href="/vaksin/detail-forum/{{ k.id }}">
                    <button class="bg-secondary-rh border-secondary-rh text-white" 
                            style="padding: 4px 6px; border-radius: 8px;"
                            id="forumbtn">
                        <p>Baca selengkapnya</p>
                    </button>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="text-center p20px">
        <a href="/vaksin/add-forum">
            <button class="btn-rh btn-primary-rh border-primary-rh bg-primary-rh" id="forumbtn">
                <p class="text-white">Tambah Informasi</p>
            </button>
        </a>
    </div>
</div>
