{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Rumah Harapan🏠 | Vaksin</title>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/vaksin.css' %}"/>
<script src="{% static 'js/vaksin.js' %}"></script>
{% endblock %}

{% block content %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
{% include "landing_vaksin.html" %}
{% include "tingkat_vaksinasi.html" %}
{% include "forum_vaksin.html" %}
{% endblock %}
