{% load static %}

<div class="landing-vaksin bg-blizzard">
    <div class="landing-left" data-aos="fade-right" data-aos-duration ="1000">
        <div class="text-secondary-rh" style="padding-bottom: 50px;">
            <h2 class="fw-bold">Informasi Vaksin</h2>
        </div>
        <div style="padding-bottom: 50px;">
            <p style="text-align: justify;">
                Mari saling berbagi informasi antar sesama <span style="color: #59A5DB;">#TemanHarapan</span> di tengah pandemi 
                COVID-19. Pada halaman ini, Anda dapat mengakses informasi perkembangan vaksinasi COVID-19 di Indonesia. Anda juga 
                dapat berkontribusi memberikan informasi terkait jenis vaksin COVID-19, Kejadian Ikutan Pasca Imunisasi (KIPI), dan 
                informasi mengenai vaksin COVID-19 lainnya dalam forum informasi pada halaman ini.
            </p>
        </div>  
        <div class="p20px">
            <a href="#foruminformasi">
                <button class="btn-rh btn-primary-rh border-primary-rh bg-primary-rh" id="forumbtn">
                    <p class="text-white">Forum Informasi</p>
                </button>
            </a>
        </div>
    </div>
    <div class="landing-right" data-aos="fade-left" data-aos-duration ="1000">
        <a href="https://www.freepik.com/free-vector/get-your-vaccine-font-banner-with-syringe-covid-19-vaccine_16262870.htm?query=covid%20vaccine%20banner">
            <img style="max-width: 100%; height: auto;" src="{% static 'foto/get_vaccine.PNG' %}"/>
        </a>
    </div>
  </div>
