{% load static %}

<div class="data-vaksinasi text-center">
    <h2 class="text-secondary-rh fw-bold" data-aos="fade-up" data-aos-duration ="1000">Data Vaksinasi COVID-19 di Indonesia</h2>
    <div class="flex-gap">
        <div class="card one-card p20px" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh fw-bold">
                <p class="text-white">TOTAL SASARAN</p>
            </div>
            <p class="body-container text-secondary-rh" id="totalsasaran"></p>
        </div>
        <h3 class="w-100 text-secondary-rh" style="padding-top: 20px;" data-aos="fade-up" data-aos-duration ="1000">Sasaran Vaksin</h3>
        <div class="card three-card text-primary-rh p20px" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh fw-bold">
                <p class="text-white">SDMK</p>
            </div>
            <p class="body-container text-secondary-rh" id="sasaransdmk"></p>
        </div>
        <div class="card three-card text-primary-rh p20px" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh fw-bold">
                <p class="text-white">LANJUT USIA</p>
            </div>
            <p class="body-container text-secondary-rh" id="sasaranlansia"></p>
        </div>
        <div class="card three-card text-primary-rh p20px petugas" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh fw-bold">
                <p class="text-white">PETUGAS PUBLIK</p>
            </div>
            <p class="body-container text-secondary-rh" id="sasaranpetugas"></p>
        </div>
        <div class="card two-card text-primary-rh p20px" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh fw-bold">
                <p class="text-white">VAKSINASI DOSIS 1</p>
            </div>
            <p class="body-container text-secondary-rh" id="dosis1"></p>
        </div>
        <div class="card two-card text-primary-rh p20px" data-aos="flip-up" data-aos-duration ="1000">
            <div class="head-container bg-secondary-rh fw-bold">
                <p class="text-white">VAKSINASI DOSIS 2</p>
            </div>
            <p class="body-container text-secondary-rh" id="dosis2"></p>
        </div>
    </div>
    <div class="text-secondary-rh p20px" data-aos="fade-up" data-aos-duration ="1000">
        <p>Terakhir diperbarui :</p>
        <p id='lastUp'></p>
    </div>
</div>
