{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title> Rumah Harapan🏠 | Update COVID-19 Indonesia</title>
<link rel="icon" href="{% static 'foto/home.png' %}" type="image/gif">
<link rel="stylesheet" href="{% static 'css/harapan.css' %}" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/uc.css' %}" />
<script src="{% static 'js/covidAPI.js' %}"></script>
{% endblock meta %}

{% block content %}
  {% include "landing.html" %}
  
  {% include "prov.html" %}

  <div class="bg-blizzard" style="height: 720px; padding-top: 72px; padding-bottom: 48px; overflow: auto;" id='msg'>
    {% if user.is_authenticated %}
      {% include "messageLogin.html" %}
    {% else %}
      {% include "message.html" %}
    {% endif %}
  </div>
{% endblock content %}
