{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="text-secondary-rh" style="text-align: center;">Kotak Harapan</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="comments">
          <div class="comments-details">
            <div class="total-comments comments-sort"><span id="jmlHar"></span> Harapan</div>    
          </div>
          <div class="comment-box add-comment">
            <span class="commenter-pic">
              <img src="{% static 'foto/orang.png' %}" class="img-fluid">
            </span>
            <span class="commenter-name">
              <form action="" method="POST"> 
                {% csrf_token %}
                <div class="border-secondary-rh">
                    <div>{{ form.Message }}</div>
                </div>
              </form>
              <a href="/login">
                <button type="button" class="btn btn-default" style="background-color: #59A5D8;">
                  <p>Login</p>
                </button>
              </a>
            </span>
          </div>
          
          {% if notes %} 
            {% for note in notes %}
            <div class="comment-box">
              <span class="commenter-pic">
                <img src="{% static 'foto/orang.png' %}" class="img-fluid">
              </span>
              {% if note.Author == none %}
              <span class="commenter-name">
                <p>Unknown <span class="comment-time">{{ note.published_date }}</span></p>
              </span>
              {% elif note.Author == request.user %}
                <span class="commenter-name">
                  <p>Anda <span class="comment-time">{{ note.published_date }}</span></p> 
                </span>
              {% else %}
              <span class="commenter-name">
                <p>{{ note.Author }} <span class="comment-time">{{ note.published_date }}</span></p> 
              </span>
              {% endif %}
                     
              <p class="comment-txt more">{{ note.Message }}</p>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</body>
<script type="text/javascript">
  document.getElementById("form-msg").disabled = true;
  document.getElementById("form-msg").placeholder = "Silakan login untuk menulis harapan!";
</script>
</html>