{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 class="text-secondary-rh" style="text-align: center;">Kotak Harapan</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="comments">
          <div class="comments-details">
            <div class="total-comments comments-sort"><span id="jmlHar"></span> Harapan</div>    
          </div>
          <div class="comment-box add-comment">
            <span class="commenter-pic">
              <img src="{% static 'foto/orang.png' %}" class="img-fluid">
            </span>
            <span class="commenter-name">
              <form action="" method="POST" id="form-msg"> 
                {% csrf_token %}
                <div class="border-secondary-rh">
                    <div>{{ form.Message }}</div>
                </div>
                <button type="submit" class="btn btn-default" id='msg-kirim'>Kirim</button>
              </form>
              <!-- <input type="text" placeholder="Add a public comment" name="Add Comment"> -->
            </span>
          </div>
          
          {% if notes %} 
            {% for note in notes %}
            <div class="comment-box">
              <span class="commenter-pic">
                <img src="{% static 'foto/orang.png' %}" class="img-fluid">
              </span>
              {% if note.Author == none %}
              <span class="commenter-name">
                <p>Unknown <span class="comment-time">{{ note.published_date }}</span></p>
              </span>
              {% elif note.Author == request.user %}
                <span class="commenter-name">
                  <p>Anda <span class="comment-time">{{ note.published_date }}</span></p> 
                </span>
              {% else %}
              <span class="commenter-name">
                <p>{{ note.Author }} <span class="comment-time">{{ note.published_date }}</span></p> 
              </span>
              {% endif %}
                     
              <p class="comment-txt more">{{ note.Message }}</p>
              <div class="comment-meta">
                <div style="display: flex;">
                  <form action="like" method="POST" class="like-form" id="{{ note.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ note.id }}">
                    <button class="comment-like like-btn{{note.id}}" type="submit">
                      {% if user not in note.like.all %}
                      👍 Suka
                      {% else %}
                      👎 Tidak Suka
                      {% endif %}
                    </button>
                    <span class="like-count{{note.id}}" style="font-weight: bold;">{{ note.like.all.count }}</span> Suka
                  </form>
                </div>
                <!-- <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> {{ note.like }}</button> -->
                <!-- <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> {{ note.dislike }}</button> 
                <button class="comment-reply reply-popup"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>          -->
              </div>
              <!-- <div class="comment-box add-comment reply-box">
                <span class="commenter-pic">
                  <img src="{% static 'foto/orang.png' %}" class="img-fluid">
                </span>
                <span class="commenter-name">
                  <input type="text" placeholder="Add a public reply" name="Add Comment">
                  <button type="submit" class="btn btn-default">Reply</button>
                  <button type="cancel" class="btn btn-default reply-popup">Cancel</button>
                </span>
              </div> -->
            </div>
            {% endfor %}
          {% endif %}
          <!-- <div class="comment-box">
            <span class="commenter-pic">
              <img src="{% static 'foto/orang.png' %}" class="img-fluid">
            </span>
            <span class="commenter-name">
              <a href="#">Happy markuptag</a> <span class="comment-time">2 hours ago</span>
            </span>       
            <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
            <div class="comment-meta">
              <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
              <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
              <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>         
            </div>
            <div class="comment-box add-comment reply-box">
              <span class="commenter-pic">
                <img src="{% static 'foto/orang.png' %}" class="img-fluid">
              </span>
              <span class="commenter-name">
                <input type="text" placeholder="Add a public reply" name="Add Comment">
                <button type="submit" class="btn btn-default">Reply</button>
                <button type="cancel" class="btn btn-default reply-popup">Cancel</button>
              </span>
            </div>
            <div class="comment-box replied">
              <span class="commenter-pic">
                <img src="{% static 'foto/orang.png' %}" class="img-fluid">
              </span>
              <span class="commenter-name">
                <a href="#">Happy markuptag</a> <span class="comment-time">2 hours ago</span>
              </span>       
              <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
              <div class="comment-meta">
                <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
                <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>         
              </div>
              <div class="comment-box replied">
                <span class="commenter-pic">
                  <img src="{% static 'foto/orang.png' %}" class="img-fluid">
                </span>
                <span class="commenter-name">
                  <a href="#">Happy markuptag</a> <span class="comment-time">2 hours ago</span>
                </span>       
                <p class="comment-txt more">Suspendisse massa enim, condimentum sit amet maximus quis, pulvinar sit amet ante. Fusce eleifend dui mi, blandit vehicula orci iaculis ac.</p>
                <div class="comment-meta">
                  <button class="comment-like"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> 99</button>
                  <button class="comment-dislike"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i> 149</button> 
                  <button class="comment-reply"><i class="fa fa-reply-all" aria-hidden="true"></i> Reply</button>         
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function(){
      $('.like-form').submit(function(e) {
        e.preventDefault();
        
        const post_id = $(this).attr('id');
        
        const likeText = $(`.like-btn${post_id}`).text();
        const trim = $.trim(likeText);
        
        const url = $(this).attr('action');
        
        let res;
        const likes = $(`.like-count${post_id}`).text();
        const trimCount = parseInt(likes);

        $.ajax({
          type:"POST",
          url: url,
          data: {
            'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val(),
            'post_id':post_id,
          },
          success: function(response) {
            if (trim === '👎 Tidak Suka') {
              $(`.like-btn${post_id}`).text("👍 Suka");
              res = trimCount-1;
            } else {
              $(`.like-btn${post_id}`).text("👎 Tidak Suka");
              res = trimCount+1;
            }
            $(`.like-count${post_id}`).text(res);

          },
          error: function(response){
            console.log('Error', response);
          }
        })
      })
    })
  </script>
          <!-- {% if notes %} 
            {% for note in notes %}
              <div class="border-secondary-rh container-uc-comment text-primary-rh" >
                <p style="font-size: 16px; padding: 6px;  word-wrap: break-word; ">{{ note.Message }}</p>
                {% if note.Author == none %}
                  <p style="font-size: 12px; padding-left: 6px; padding-right: 6px;">#TemanHarapan: Unknown || Tanggal dibuat: {{ note.published_date }}</p>
                {% elif note.Author == request.user %}
                  <p style="font-size: 12px; padding-left: 6px; padding-right: 6px;">#TemanHarapan: Anda || Tanggal dibuat: {{ note.published_date }}</p>
                {% else %}
                  <p style="font-size: 12px; padding-left: 6px; padding-right: 6px;">#TemanHarapan: {{ note.Author }} || Tanggal dibuat: {{ note.published_date }}</p>
                {% endif %}
              </div> 
            {% endfor %}
          {% else %}
            <h2 style="padding-left: 10%; padding-top: 80px;" class="text-secondary-rh">Jadilah <span style="color:#023E8A;">#TemanHarapan</span> pertama yang memberikan harapan!</h2>
          {% endif %}      -->
        
        <!-- <div style="height: 150px; margin-bottom: 64px;">
          <div class="form-group" style="width: 90%; margin: auto;" >
                <form action="" method="POST"> 
                    {% csrf_token %}
                    <div class="border-secondary-rh">
                        <div>{{ form.Message }}</div>
                    </div>
                    <br>
                    <input class="btn-rh bg-primary-rh text-light border-secondary-rh default" type="submit" value="Kirim">
                </form>
            </div>
        </div> -->
</body>
</html>