body{
    background-color: #ADE8F4;
}

#img1{
    height: 450px;
    width: fit-content;
    margin-top: 250px;
}

#img2{
    height: 450px;
    width: fit-content;
    margin-top: 150px;
}

.container{
    width : 750px;
    padding: 35px 50px;
    position: center;
}

#background{
    background-color: #59A5D8;
    margin-bottom: 0;
}

#background2{
    margin-top: 0;
}

.container h2{
    text-align: center;
    color : white;
    font-weight: bold;
    margin-bottom: 30px;
}

.container p{
    text-align: center;
    color : white;
}

#btn{
    width: 100%;
    padding: 6px 0;
    border: none;
    background-color:#023E8A;
    color: #ffffff;
}

#btn:hover{
    background-color:#59A5D8;
    border: none;
    box-shadow: 5px 5px 10px #999;
}

@media screen and (max-width: 768px) {
    .container{
        width: 100%;
        margin-top: 0;
    }
}

