.not-visible{
    display: none;
}

.allcard{
    margin-bottom: 20px;
}

.card-box {
    box-shadow: 0px 0px 10px 0px #ADE8F4;
    float: none;
    border-radius: 5px;
}

.center{
    display : block;
    margin-left : auto;
    margin-right : auto;
}

#main{
    margin: auto;
}

.section{
    background-color: #ADE8F4;
    padding: 100px 50px;
}

#paragraf{
    padding-top: 30px;
}

#img-main{
    width: 500px;
    height: fit-content; 
}

#h1font{
    font-weight: bold;
    color: #59A5D8;
    margin: 20px 0;
}

#h3font{
    text-align: center;
    color: #59A5D8;
}

.container p{
    text-align: justify;
    text-justify: inter-word;
}

#font-header{
    font-size: 18px;
    color: #023E8A;
}

#header{
    background-color: #ADE8F4;
}

a.btn{
    border: none;
    background-color:#023E8A;
    margin: 30px 0;  
}

#tombol{
    text-align: center;
}

a.btn:hover{
    background-color:#59A5D8;
    border: none;
    box-shadow: 5px 5px 10px #999;
}

#tulisan{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container,
    .section{
        width: 100%;
        margin-top: 0;
    }

    a.btn{
        display: block;
        width: auto;
        float: none;
    }
}
