{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="icon" href="{% static 'foto/home.png' %}" type="image/gif">
    {% block meta %} {% endblock meta %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    <nav class="bg-secondary-rh navBar">
      <div class="header-font">
        <h3 style="color: white; font-weight: bold" class="mobileNotSmall">Rumah Harapan🏠</h3>
        <h3 style="color: white; font-weight: bold" class="mobileSmall">🏠</h2>
      </div>
      <div class="navSection">
        <a href="/" style="color: white" class="text-decoration-none">
          <p class="p20px">Home</p>
        </a>
        <a href="/donasi" style="color: white" class="text-decoration-none">
          <p class="p20px">Donasi</p>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              data-bs-toggle="dropdown"
              href="#"
              role="button"
              aria-expanded="false"
              style="color: white"
              class="text-decoration-none"
            >
              <p class="p20px">Publikasi</p>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/artikel">Artikel</a>
              </li>
              <li>
                <a class="dropdown-item" href="/vaksin">Vaksin</a>
              </li>
            </ul>
          </li>
        </ul>
        <a href="/updateCovid" style="color: white" class="text-decoration-none">
          <p class="p20px">Update Covid</p>
        </a>
        <a href="/kontak" style="color: white" class="text-decoration-none">
          <p class="p20px">Kontak Penting</p>
        </a>
        {% if user.is_authenticated %}
          <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                  <a
                    class="nav-link "
                    data-bs-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-expanded="false"
                    style="color: white"
                    class="text-decoration-none"
                  >
                    <p class="p20px">Hello, {{request.user}}</p>
                  </a>
                  <ul class="dropdown-menu">
                    <li>
                      <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                    </li>
                  </ul>
                </li>
            </ul>
        {% else %}
          <a href="/login">
            <button class="bg-primary-rh border-primary-rh text-white btn-rh btn-primary-rh">
              <p class="p20px">Login</p>
            </button>
          </a>
        {% endif %}
      </div>
      <div class="navbarMobile">
        <button class="transparentButton">
          <img src="{% static 'images/hamburger.svg' %}" />
        </button>
        <div class="navLinkWrapper" id="btnNav">
          <div class="navMobileWrapper">
            <a href="/" style="color: white" class="text-decoration-none">
              <p class="p20px">Home</p>
            </a>
            <a href="/donasi" style="color: white" class="text-decoration-none">
              <p class="p20px">Donasi</p>
            </a>
            <ul class="nav nav-pills">
              <li class="nav-item dropdown">
                <a
                  class="nav-link"
                  data-bs-toggle="dropdown"
                  href="#"
                  role="button"
                  aria-expanded="false"
                  style="color: white; padding: 0px"
                  class="text-decoration-none"
                >
                  <p class="p20px">Publikasi</p>
                </a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-item" href="/artikel"
                      >Artikel</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-item" href="/vaksin"
                      >Vaksin</a
                    >
                  </li>
                </ul>
              </li>
            </ul>
            <a href="/updateCovid" style="color: white" class="text-decoration-none">
              <p class="p20px">Update Covid</p>
            </a>
            <a href="/kontak" style="color: white" class="text-decoration-none">
              <p class="p20px">Kontak Penting</p>
            </a>
            {% if user.is_authenticated %}
              <ul class="nav nav-pills">
                    <li class="nav-item dropdown">
                      <a
                        class="nav-link "
                        data-bs-toggle="dropdown"
                        href="#"
                        role="button"
                        aria-expanded="false"
                        style="color: white"
                        class="text-decoration-none"
                      >
                        <p class="p20px">Hello, {{request.user}}</p>
                      </a>
                      <ul class="dropdown-menu">
                        <li>
                          <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                      </ul>
                    </li>
                </ul>
            {% else %}
              <a href="/login">
                <button class="bg-primary-rh border-primary-rh text-white btn-rh">
                  <p class="p20px">Login</p>
                </button>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
    <div class="wrapperNav flex-grow-1">
      {% block content %} {% endblock content %}
    </div>
    <footer class="bg-secondary-rh footer-rh">
      <h3 style="color: white; font-weight: bold">Rumah Harapan🏠</h3>
      <div class="d-flex align-items-center gap-2">
        <a href="/kritikSaran" class="text-decoration-none text-white">
          <p class="p20px">Kritik dan Saran</p>
        </a>
      </div>
      <div>
        <p class="text-white">© Copyright 2021 PBP B08</p>
      </div>
    </footer>
    <script>
      let open = false;

      $(".transparentButton").click(function(){
        open = !open
        if (open) {
        $("#btnNav").css('left', '0vw')
        $("#btnNav").css('opacity', '1')
      } else {
        $("#btnNav").css('left', '100vw')
        $("#btnNav").css('opacity', '0')
      }
      });
    </script>
  </body>
</html>
