{% load static %}
<!-- Slider main container -->
<div class="swiper mySwiper" data-aos="fade-down" data-aos-duration ="1000">
  <div class="swiper-wrapper" id="carousel-saya">
  
  </div>
  <div class="swiper-pagination"></div>
</div>
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 32,
    breakpoints: {
      // when window width is >= 320px
      320: {
        slidesPerView: 1,
        spaceBetween: 12
      },
      // when window width is >= 640px
      768: {
        slidesPerView: 2,
        spaceBetween: 28
      },
      1200: {
        slidesPerView: 3,
        spaceBetween: 32
      }
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>