{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/donasi.css' %}" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<title>Rumah Harapan🏠 | Donasi</title>
{% endblock %} {% block content %}
<div class="detail-donasi-wrapper">
  <a href="/donasi" class="back-button-donasi">
    <img src="{% static 'foto/chevron-left.svg' %}" alt="chevron" />
    <p class="p20px word-break">Kembali</p>
  </a>
  <section> 
    <p style="color: #59A5DB;">Author: {{details.author}}</p>
  </section>
  <section class="header-detail-donasi">
    <h2>
      {{details.title}}
    </h2>
    <div>
      <img
        width="800"
        class="img-banner"
        src="{{details.link_gambar}}"
        alt="Rumah Harapan🏠"
      />
    </div>
  </section>
  <section class="deskripsi-detail-donasi">
    <h2>Deskripsi</h2>
    <p class="p-desc-donasi word-break">
      {{details.deskripsi}}
    </p>
  </section>
  <section class="detail-donasi-section">
    <h2>Detail</h2>
    <div class="detail-component-donasi">
      <div class="component-detail">
        <p class="p20px word-break fw-bold">Penggalang Dana:</p>
        <div class="icon-component-donasi">
          <img
            src="{% static 'foto/detail_donasi/penggalang.svg' %}"
            alt="detail icon"
          />
          <p class="p20px word-break">{{details.penggalang}}</p>
        </div>
      </div>
      <div class="component-detail">
        <p class="p20px word-break fw-bold">Penerima Dana:</p>
        <div class="icon-component-donasi">
          <img
            src="{% static 'foto/detail_donasi/penerima.svg' %}"
            alt="detail icon"
          />
          <p class="p20px word-break">{{details.penerima}}</p>
        </div>
      </div>
      <div class="component-detail">
        <p class="p20px word-break fw-bold">Target:</p>
        <div class="icon-component-donasi">
          <img
            src="{% static 'foto/detail_donasi/target.svg' %}"
            alt="detail icon"
          />
          <p class="p20px word-break">Rp{{details.target}}</p>
        </div>
      </div>
      <div class="component-detail">
        <p class="p20px word-break fw-bold">Tenggat Waktu:</p>
        <div class="icon-component-donasi">
          <img
            src="{% static 'foto/detail_donasi/tanggal.svg' %}"
            alt="detail icon"
          />
          <p class="p20px word-break">{{details.due_date}}</p>
        </div>
      </div>
    </div>
  </section>
  <section class="btn-component-donasi">
    <a href="#buatDonasi">
      <button class="border-secondary-rh btn-rh aBtn btn-scnd-rh" data-bs-toggle="modal" data-bs-target="#modalShare">
        <p class="p20px">Bagikan</p>
      </button>
    <!-- Modal -->
    <div class="modal fade" id="modalShare" tabindex="-1" aria-labelledby="modalShareLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title p20px" style="color:black; text-decoration:none;" id="modalShareLabel">
              Bagikan
            </p>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="socmed-share">
              <a href="https://www.facebook.com/sharer/sharer.php?u=rumah-harapan.herokuapp.com" target="__blank">
                <img
                  width="64px"
                  src="{% static 'foto/icons/facebook.svg' %}"
                  alt="Rumah Harapan🏠"
                />
              </a>
              <a href="https://www.twitter.com/share?url=rumah-harapan.herokuapp.com" target="__blank">
                <img
                  width="64px"
                  src="{% static 'foto/icons/twitter.svg' %}"
                  alt="Rumah Harapan🏠"
                />
              </a>
              <a href="mailto:?subject=Check out my awesome website&body=rumah-harapan.herokuapp.com" target="__blank">
                <img
                  width="64px"
                  src="{% static 'foto/icons/email.svg' %}"
                  alt="Rumah Harapan🏠"
                />
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
              <p>Close</p>
            </button>
          </div>
        </div>
      </div>
    </div>

    </a>
    <a href="{{details.link_donasi}}" target="__blank">
      <button class="border-primary-rh bg-primary-rh text-white btn-rh aBtn btn-primary-rh">
        <p class="p20px">Donasi Sekarang</p>
      </button>
    </a>
  </section>
</div>
{% endblock %}
