{% extends 'base.html' %} {% load static %} {% block meta %}
<link rel="stylesheet" href="{% static 'css/donasi.css' %}" />
<title>Rumah Harapan🏠 | Donasi</title>
{% endblock %} {% block content %} {% load cloudinary %}
<div class="d-flex flex-column bg-wrapper padding-form">
  <a href="/donasi" class="back-button-donasi">
    <img src="{% static 'foto/chevron-left.svg' %}" alt="chevron" />
    <p class="p20px word-break">Kembali</p>
  </a>
  <div class="text-secondary-rh" style="text-align: center">
    <h1>Edit Donasi</h1>
  </div>
  <form
    action=""
    method="POST"
    style="
      display: flex;
      flex-direction: column;
      gap: 12px;
      padding: 20px;
      align-items: center;
    "
    id="form-edit"
  >
    {% csrf_token %}
    <p
      style="display: flex; flex-direction: column; gap: 12px; max-width: 100%"
    >
      {{ form }}
    </p>
    <div style="width: 100%; display: flex; justify-content: center">
      <p>
        <input
          type="submit"
          class="
            border-primary-rh
            bg-primary-rh
            text-white
            btn-rh btn-primary-rh
          "
          value="Edit Donasi"
        />
      </p>
    </div>
  </form>
</div>
{% endblock %}
