{% load static %}
<div class="hero-donasi-rh">
  <div class="left-header" data-aos="fade-right" data-aos-duration ="1000">
    <section class="header-donasi">
      <div class="text-secondary-rh">
        <h1>Donasi</h1>
      </div>
      <div class="text-justify">
        <p style="text-align: justify">
          Mari kita ringankan beban sesama <span style="color: #59A5DB;">#TemanHarapan</span> di tengah pandemi
          Covid-19 ini. Kamu dapat membantu dengan berdonasi sesuai dengan keinginan
          dan keikhlasan kamu. Setiap uang yang kamu keluarkan dapat menjadi
          pintu rezeki bagi mereka yang membutuhkan.
        </p>
      </div>
    </section>
    <section class="button-header">
      {% if user.is_authenticated %}
      <a href="#myDonasi">
        <button class="border-secondary-rh btn-rh btn-scnd-rh" id="lihatDonasiBtn">
          <p class="p20px">Lihat donasi saya</p>
        </button>
      </a>
      {% else %}
      <a href="#buatDonasi">
        <button
          class="border-secondary-rh btn-rh btn-scnd-rh"
          id="openWarning"
          data-bs-toggle="modal"
          data-bs-target="#modalWarning"
        >
          <p class="p20px">Buat Donasi</p>
        </button>
      </a>
      {% endif %}
      <a href="#semuaDonasi">
        <button
          id="donasiSekarangBtn"
          class="border-primary-rh bg-primary-rh text-white btn-rh btn-primary-rh"
        >
          <p class="p20px">Donasi Sekarang</p>
        </button>
      </a>
    </section>
  </div>
  <div class="right-header" data-aos="fade-left" data-aos-duration ="1000">
    <a href="https://www.freepik.com/vectors/people" target="__blank">
      <img
        class="img-banner"
        src="{% static 'foto/3724843.png' %}"
        alt="Rumah Harapan🏠"
      />
    </a>
  </div>
</div>
