{% extends 'base.html' %} 
{% load static %} 

{% block meta %}
<link rel="stylesheet" href="{% static 'css/donasi.css' %}" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src={% static 'js/donasi.js' %}></script>
<title>Rumah Harapan🏠 | Donasi</title>
{% endblock %} 

{% block content %} 
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% include "hero_donasi.html" %}
<div class="carousel-section" data-aos="fade-down" data-aos-duration ="1000" id="semuaDonasi">
  <div class="text-secondary-rh" style="text-align: center">
    <h1>Mari Bantu Sesama #TemanHarapan</h1>
  </div>
  {% include "carousel_semua_donasi.html" %}
</div>
{% if user.is_authenticated %}
<div class="my-donasi-section" id="myDonasi">
  <div class="text-secondary-rh" data-aos="fade-down" data-aos-duration ="1000" style="text-align: center">
    <h1>Donasi Saya</h1>
  </div>
    <div class="add-donasi-section" data-aos="fade-down" data-aos-duration ="1000">
    <a href="/donasi/add">
      <button
        class="add-donasi-button"
        id="openAdd"
      >
        <p class="p20px">+Tambah Donasi</p>
      </button>
    </a>
  </div>
  {% include "carousel_donasi_saya.html" %} 
{% endif %}
</div>
{% include 'modal_warning_donasi.html' %} 
{% include 'modal_danger.html' %} 
{% endblock %}
