{% load static %}
<!-- Modal -->
<div
  class="modal fade"
  id="modalDelete"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body modal-center-rh">
        <img src="{% static 'foto/icons/danger.svg' %}" width="120px" height="120px" alt="Rumah Harapan🏠" />
        <p class="fw-bold p20px">Apakah anda yakin ingin menghapus donasi ini?</p>
      </div>
      <div class="modal-footer">
        <form action="" method="POST" id="delete">
          {% csrf_token %}
          <button type="button" data-bs-dismiss="modal" class="border-error-rh bg-error-rh text-white btn-rh btn-danger-rh">
            <p>Delete</p>
          </button>
        </form>
        <button type="button" class="border-secondary-rh btn-rh btn-scnd-rh" data-bs-dismiss="modal">
          <p>Batal</p>
        </button>
      </div>
    </div>
  </div>
</div>

<script>
//Digunakan agar ketika men-click tombol delete yang berupa tombol submit, ngga ngerefresh halaman
document.getElementById("delete").addEventListener("click", function(event){
  event.preventDefault()
});
</script>